
# Ignores the Python cache
__pycache__

# Ignores output files of trainings (files that are in an experiments directory, PyTorch model checkpoint files, and plot images)
experiments
*.pt
*.png

# Ignores downloaded datasets
datasets
